.course-item {
    display: flex;
    width: 600px;
    margin: 30px auto;
}

.course-text {
    margin-left: 20px;
}

.course-name {
    font-size: 20px;
    font-weight: bold;
}

.course-description {
    height: 60px;
    width: 400px;
    padding-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

button {
    background-color: white;
    border: none;
    cursor: pointer;
    text-align: left;
    padding: 0;
}
