.search {
    display: flex;
    justify-content: flex-end;
}

.show-more {
    display: flex;
    justify-content: center;
}

:host {
    ::ng-deep {
        mat-nav-list {
            margin-top: 50px;
        }

        .mat-subheader {
                    font-size: 20px;
        }

        mat-list-item {
            height: auto !important;
            border: 1px solid #dcdcdc;
            margin-bottom: 20px;
            .mat-list-avatar {
                border-radius: 0 !important;
                width: 80px !important;
                height: 80px !important;
            }
        }        
    }
}