:host {
    margin: 30px auto;
}
.course-detail {
    display: flex;
    width: 600px;
    margin: 30px auto;
    flex-direction: column;
}

.course-name {
    font-size: 20px;
    font-weight: bold;
}

.course-description {
    height: 60px;
    width: 400px;
    padding-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
