<div *ngIf="course" class="course-detail">
    <div class="name">{{course.name}}</div>      
    <div class="course-img"><img src={{course.photoUrl}} alt={{course.name}} width="450px" /></div>
    <div class="desc">{{course.description}}</div>
    <button mat-flat-button color="accent" (click)="getCourseLink(course)">Enroll now!</button>
</div>

<mat-nav-list *ngIf="courses">
    <h3 mat-subheader>You may also be interested in</h3>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let course of courses" routerLink="/training-detail/{{course.id}}">
        <app-course-item [course]="course"></app-course-item>
        <mat-divider></mat-divider>
    </mat-list-item>
</mat-nav-list>